@model BlogSystem.Web.Areas.Administration.ViewModels.Posts.PostViewModel

@{
    ViewBag.Title = "Sửa blog";
}

<hr />

@using (Html.BeginForm("Edit", "BL", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AuthorId)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)

        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Title, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Content)

        @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Content, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ShortContent)

        @Html.EditorFor(m => m.ShortContent, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ShortContent, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.type)

        @Html.EditorFor(m => m.type, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.type, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ParentType)

        @Html.EditorFor(m => m.ParentType, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ParentType, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Desc)

        @Html.EditorFor(m => m.Desc, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Desc, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ord)

        @Html.EditorFor(m => m.Ord, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Ord, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LinkPost)

        @Html.EditorFor(m => m.LinkPost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.LinkPost, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.isPublish)

        @Html.EditorFor(m => m.isPublish, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.isPublish, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TitleIMG)

        @Html.EditorFor(m => m.TitleIMG, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.TitleIMG, string.Empty, new { @class = "text-danger" })
    </div>

    <div class="form-group" style="display: block;">
        <div style="display: flex; flex-wrap: nowrap; align-items: flex-start; flex-direction: column;">
            <img id="output" src="@Model.linkIMG" height="200" />
            @Html.HiddenFor(m => m.linkIMG)
            @Html.TextBox("ImgPost", "", new { type = "file", accept = "image/*", onchange = "loadFile(event)", style = "margin-top: 5px;" })
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        @Html.ActionLink("Cancel", "Index", new { area = "Administration" }, new { @class = "btn btn-danger" })
    </div>
}

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };</script>